*{
  box-sizing: border-box;
}

body {
  /* background-color: #FFFACD; */
  background-color: #444444;
}

#board{
  margin: 50px auto;
  /* width: 80%; */
  width: 800px;
}


/* chessboard */
.red,.white{
  /* width: 10%; */
  /* height: 10%; */
  width: 100px;
  height: 100px;
  float: left;
}

.red{
  background-color: maroon;
}

.white{
  background-color: beige;
}


/* 3 columns */
#container{
  width: 800px;
  margin: 50px auto;
}

.header,.nav,.footer{
  background-color: crimson;
  margin: 10px 0px;
  float:left;
}

.header{
  width: 800px;
  height: 100px;
}

.nav{
  margin-top: 0px;
  width: 800px;
  height: 50px;
}

.col{
  background-color: crimson;
  width: calc(780px/3);
  height: 1000px;
  float:left;
  margin-right: 10px;
}

.col2{
  background-color: crimson;
  width: calc(780px/3);
  height: 1000px;
  float:left;
}

.footer{
  width: 800px;
  height: 100px;
}
/* Blog */
.blogImg{
  width: 650px;
  height: 500px;
  /*      top right bottom left */
  margin: 100px 10px 10px 0px;
  float:left;
  background-color: crimson;
}

.blogTitle{
  width: 650px;
  height: 50px;
  float:left;
  background-color: crimson;
}

.blogInfo{
  width: 140px;
  height: 250px;
  margin-top: 100px;
  float:left;
  background-color: crimson;
}

/* Tennis court */

#court{
  width: 600px;
  margin: 50px auto;
  background-color: darkgreen;
}

.center{
  width:400px;
  float:left;
}

.back, .middle, .side{
  float:left;
  border: 10px solid white;
}

.back{
  width:400px;
  height:100px;
}

.middle{
  width: 200px;
  height: 300px;
}

.side{
  width: 100px;
  height: 400px;
}


/* Clear Fix to allow bg color for court*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
