body {
  /* background-color: #FFFACD; */
  background-color: #444444;
}

#board{
  margin: 50px auto;
  /* width: 80%; */
  width: 800px;
}


/* chessboard */
.red,.white{
  /* width: 10%; */
  /* height: 10%; */
  width: 100px;
  height: 100px;
  float: left;
}

.red{
  background-color: maroon;
}

.white{
  background-color: beige;
}


/* 3 columns */
#container{
  width: 800px;
}

.header,.nav,.footer{
  background-color: crimson;
  margin: 10px;
  float:left;
}

.header{
  width: 800px;
  height: 100px;
}

.nav{
  width: 800px;
  height: 50px;
}

.col{
  background-color: crimson;
  width: 780px/3;
  height: 1000px;
  float:left;
}

.footer{
  width: 800px;
  height: 100px;
}
