body{
  background-color: darkred;
}
#container{
  width: 100%;
  height: 3000px;
  margin: 0 auto;
}

#coverTopOuter{
      border-bottom: 125px solid #323131;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: 200px;
      position: absolute;
      top: 100px;
      left: 35%;
}

#coverBottomOuter{
      border-bottom: 350px solid #323131;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 150px;
      position: absolute;
      transform: rotate(180deg);
      top: 225px;
      left: 35%;
}


#coverTopInner{
      border-bottom: 100px solid #3F3D3D;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      height: 0;
      width: 180px;
      position: absolute;
      top: 120px;
      left: 36.4%;
}

#coverBottomInner{
      border-bottom: 330px solid #3F3D3D;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 120px;
      position: absolute;
      transform: rotate(180deg);
      top: 220px;
      left: 36.4%;
}


#coffinTopOuter{
      border-bottom: 125px solid #323131;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: 200px;
      position: fixed;
      top: 100px;
      left: 35%;
}

#coffinBottomOuter{
      border-bottom: 350px solid #323131;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 150px;
      position: fixed;
      transform: rotate(180deg);
      top: 225px;
      left: 35%;
}


#coffinTopInner{
      border-bottom: 100px solid #C41F1F;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      height: 0;
      width: 180px;
      position: fixed;
      top: 120px;
      left: 36.4%;
}

#coffinBottomInner{
      border-bottom: 330px solid #C41F1F;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      width: 120px;
      position: fixed;
      transform: rotate(180deg);
      top: 220px;
      left: 36.4%;
}

#cross {
    background: gold;
    height: 150px;
    position: relative;
    width: 20px;
    top: 150px;
    left: 47.5%;
}
#cross:after {
    background: gold;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
  }



/* Position: fixed scrolls with page */
/* Postion: relative is based on where it would be drawn without other positioning*/
/* Position: absolute is based on the page */
