body{
  background-color: darkorange;
}
#container{
  width: 100%;
  margin: 0 auto;
}

/* Position: fixed scrolls with page */
/* Postion: relative is based on where it would be drawn without other positioning*/
/* Position: absolute is based on the page */
