#container{
  width: 75%;
  margin: 50px auto;
}

#left{
  margin-top: 100px;
  width: 200px;
  height: 100%;
  float: left;
  transform: rotate(-90deg);
}

#right{
  margin-left: 40px;
  width: 60%;
  float: left;
}

.title1{
  width: 400px;
  margin:auto;
  float:left;
  font-size: 1.5em;
}

.subtitle{
  text-align: center;
}

.author{
  margin: auto;
  float: left;
}

h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
}

h3{
  margin-top: 50px;
  font-size: 1.33em;
}

h4{
  margin: 50px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

p{
  font-family: 'Source Serif Pro', serif;
}
