body {
  margin: 0;
  overflow-x: hidden;
}
#container{
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}

/* Pattern 1 */
.tile1, .tile2, .tile3{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}
.tile1 {
  background-color: limegreen;
}
.tile2 {
  background-color: rebeccapurple;
}
.tile3{
  background-color: deeppink;
}

/* Pattern 2 */
.tile4, .tile5, .tile6{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}

.tile4{
  /* for circles */
  border-radius:100%;
  background-color: deeppink;
}

.tile5{
  width: 100px;
  height: 50px;
  background-color: skyblue;
  /* rotation */
  transform: rotate(45deg);
}
